<style>
    .post_detail {
        margin: 2rem auto;
        max-width: 600px;
        text-align: center;
    }
    .post_image {
        width: 600px;
        height: auto;
    }
</style>

{% extends 'base.html' %}

{% block content %}
<div class="post_detail">
    <h1>{{ post.title }}</h1>
    <h4>{{ post.description }}</h4>
    <img class="post_image" src="{{ post.image.url }}" alt="no image">
    <p>{{ post.body }}</p>
    <p>{{ post.author }}, {{ post.created }}</p>
    <button class="btn btn-warning">
        <a href="{% url 'post_edit' post.pk %}">Edit</a>
    </button>
    <button class="btn btn-danger">
        <a href="{% url 'post_delete' post.pk %}">Delete</a>
    </button>

    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">
                Comment!
            </button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> to comment!</p>
    {% endif %}

    {% if comments %}
        {% for comment in comments %}
            <p>{{ comment.content }}</p>
            <p>{{ comment.author }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No comments yet!</p>
    {% endif %}

    <h2><a href="{% url 'post_list' %}">Back to posts</a></h2>
</div>
{% endblock %}